doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title SportTrack : Tableau de bord
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1 Bienvenue sur votre tableau de bord         
  table
    thead
      tr
        th Date
        th Description
        th Distance
        th Fréquence Minimale
        th Fréquence Moyenne
        th Fréquence Maximale
      tbody
          each val in data
           tr
              td= val.date
              td= val.description
              td= val.distance
              td= val.frequenceMin
              td= val.frequenceMoy
              td= val.frequenceMax
  br
  br
  .alreadyButton
    form.alreadyB(action='/upload')
      button Retour
