doctype html
html(lang='fr')
  head
    title SportTrack : Connexion
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='icon', href='logo.ico')
  body
    h2 SportTrack
    #container.container
      .form-container.sign-in-container
        form(action='/connect' method='POST')
          h1 Connexion
          | &#x9;&#x9;&#x9;
          span Saisissez vos indentifiants
          | &#x9;&#x9;&#x9;
          input#mail(type='email' name='mail' required=''  placeholder='Email')
          | &#x9;&#x9;&#x9;
          input#mdp(type='password' name='mdp' required='' placeholder='Mot de passe')
          | &#x9;&#x9;&#x9;
          button Se connecter
      | &#x9;
      .overlay-container
        .overlay
          .overlay-panel.overlay-left
            h1 Déjà inscrit ?
            | &#x9;&#x9;&#x9;&#x9;
            p Connecte toi avec tes informations personnelles en cliquant sur le bouton de connexion.
            | &#x9;&#x9;&#x9;&#x9;
          button#signIn.ghost(onclick="move()") Se connecter
          | &#x9;&#x9;&#x9;
          .overlay-panel.overlay-right
            h1 Nouveau sur SportTrack ?
            | &#x9;&#x9;&#x9;&#x9;
            p Clique sur le bouton inscription et crée toi un compte pour commencer une nouvelle aventure avec SportTrack !
            | &#x9;&#x9;&#x9;&#x9;
            button#signUp.ghost(onclick="move()") S'inscrire
  script.
    function move() {
      window.location.href = '/users'
    }
    