doctype html
html(lang='fr')
  head
    link(rel='icon', href='/../images/logo.ico')
    meta(charset='utf-8')
    title SportTrack : Accueil
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1 SportTrack
    p Bienvenue sur SportTrack
    .alreadyButton
      form.alreadyB(action='/connect')
        button Connexion
      br
    .alreadyButton
      form.alreadyB(action='/users')
        button Inscription