doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title SportTrack : Charger
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    .alreadyButton
      form(action='/disconnect')
        button Déconnexion
      .alreadyButton
        form.alreadyB(action='/activities')
          button Voir mes activités
    h2 Charger votre fichier d'activité sportive au format JSON
    p Veuillez déposer votre fichier ci-dessous
    #container.container1
      form(action='/upload' method='POST' enctype='multipart/form-data')
        input#jsonfile(type='file' name='jsonfile' accept='.json' required='')
        button Valider
