doctype html
html(lang='fr')
  head
    title SportTrack : Connexion
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='icon', href='/images/logo.ico')
  body
    h2 SportTrack
    #container.container.right-panel-active
      .form-container.sign-up-container
        form(action='/users' method='POST')
          h1 Inscription
          | &#x9;&#x9;&#x9;
          span Saisissez vos informations personnelles
          | &#x9;&#x9;&#x9;
          input#fname(type='text' name='fname' required='' placeholder='Prénom')
          | &#x9;&#x9;&#x9;
          input#lname(type='text' name='lname' required='' placeholder='Nom de famille')
          | &#x9;&#x9;&#x9;
          input#birthday(type='date' name='birthday' required='' placeholder='Date de naissance')
          | &#x9;&#x9;&#x9;
          select#gender(name='gender' placeholder='Sexe')
            option(value='homme') Homme
            option(value='femme') Femme
          | &#x9;&#x9;&#x9;
          input#weight(type='number' name='weight' min='0' max='200' required='' placeholder='Poids')
          | &#x9;&#x9;&#x9;
          input#height(type='number' name='height' min='0' max='200' required='' placeholder='Taille')
          | &#x9;&#x9;&#x9;
          input#mail(type='email' name='mail' required='' placeholder='Email')
          | &#x9;&#x9;&#x9;
          input#mdp(type='password' name='mdp' required='' placeholder='Mot de passe')
          | &#x9;&#x9;&#x9;
          input#confmdp(type='password' name='confmdp' required='' placeholder='Confirmation du mot de passe')
          | &#x9;&#x9;&#x9;
          button S'inscrire
      .overlay-container
        .overlay
          .overlay-panel.overlay-left
            h1 Déjà inscrit ?
            | &#x9;&#x9;&#x9;&#x9;
            p Connecte toi avec tes informations personnelles en cliquant sur le bouton de connexion.
            | &#x9;&#x9;&#x9;&#x9;
            button#signIn.ghost(onclick="move()") Se connecter
          | &#x9;&#x9;&#x9;
          .overlay-panel.overlay-right
            h1 Nouveau sur SportTrack ?
            | &#x9;&#x9;&#x9;&#x9;
            p Clique sur le bouton inscription et crée toi un compte pour commencer une nouvelle aventure avec SportTrack !
            | &#x9;&#x9;&#x9;&#x9;
            button#signUp.ghost(onclick="move()") S'inscrire
  script.
    function move() {
      window.location.href = '/connect'
    }
